body {
    background-color: #f8f9fa;
}

header h1 {
    position: relative;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    width: 50%;
    
    color: #343a40;
}

.friend {
    position: relative;
    margin: 0 auto;
    padding: 1rem;    
    width: 50%;

    background-color: #bcc0c3;
    border-radius: 1rem;
    -webkit-box-shadow: 5px 10px 20px -10px rgba(108,117,125,1);
    -moz-box-shadow: 5px 10px 20px -10px rgba(108,117,125,1);
    box-shadow: 5px 10px 20px -10px rgba(108,117,125,1);
}

.friend h3 {
    text-transform: uppercase;
}

.friend p {
    margin-left: 1rem;
}